
<footer>
    <section class="footer-social">
      <small>Seguinos</small>
      <div class="footer-social-icons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""> <i class="fa-brands fa-twitter"></i></a>
      </div>
    </section>
    <small>Copyright&copy;2023 HorizonX. Todos los derechos reservados.</small>
  </footer>