<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/public/css/productdetail.css" />
    <title>HorizonX</title>
</head>
<body>
    <header class="product-detailsHeader">
        <div>
            <img class="headerimg" src="/public/images/celulares/2logo.png" alt="Logo">
            <p class="nombrehorizon">HorizonX</p>
            
        </div>

        <nav class="liproduct">
      
            <a class="boton" href="tienda" >Tienda</a>
            <a class="boton" href="servicios">Servicios</a>
            <a class="boton" href="acceso">Acceso</a>
        </nav>
    </header>

    <div class="ulproductdetail">
        <div class="product-image">
            <img src="/public/images/celulares/moto-razr-40ultra.png" alt="Producto">
        </div>
        <div class="product-details">
            <h2 class="name"> Motorola Razr 40 Ultra </h2>
            <p> - Tecnología: pOLED
                <br>
                - Tamaño de Pantalla / Factor de forma: 6.9 (22:9)
                <br>
                - Resolución: 1080 x 2640, FHD+, 431, HiD, 144 Hz
                <br>
                - Sistema Operativo: Android
                <br>
                - Versión: 13
                <br>
                - Procesador: Octa core Qualcomm Snapdragon 7 Gen 1
                <br>
                - Velocidad de Procesador (GHz): 2.4
                <br>
                - Resolución de Cámara(s) traseras : 64MP
                <br>
                - Gran angular y macro 13MP
                <br>
                - Resolución de Cámara Frontal: 32MP
                <br>
                - Memoria RAM: 8GB
                <br>
                - Memoria Interna: 256GB
                <br>
                - Acelerómetro
                <br>
                - Sensor de Proximidad
                <br>
                - Brújula (Campo magnético)
                <br>
                - Giroscopio
                <br>
                - Huella Dactilar
                <br>
                - Desbloqueo Facial
                <br>
                - Wi-Fi 802.11
                <br>
                - Bluetooth 5.3
                <br>
                - Conector USB C
                <br>
                - Version USB 2.0
                <br>
                - Capacidad de Batería (mAh) 4200
                <br>
            <p class="precio"><br>$399.999</p>
        </div>
    </div>
    <button class="button-container">Comprar</button>

    <div class="product-image">
        <img src="/public/images/celulares/moto-e22.png" alt="Producto">
    </div>
    <div class="product-details">
        <h2 class="name"> Motorola Razr 40 Ultra </h2>
        <p> - Tecnología: pOLED
            <br>
            - Tamaño de Pantalla / Factor de forma: 6.9 (22:9)
            <br>
            - Resolución: 1080 x 2640, FHD+, 431, HiD, 144 Hz
            <br>
            - Sistema Operativo: Android
            <br>
            - Versión: 13
            <br>
            - Procesador: Octa core Qualcomm Snapdragon 7 Gen 1
            <br>
            - Velocidad de Procesador (GHz): 2.4
            <br>
            - Resolución de Cámara(s) traseras : 64MP
            <br>
            - Gran angular y macro 13MP
            <br>
            - Resolución de Cámara Frontal: 32MP
            <br>
            - Memoria RAM: 8GB
            <br>
            - Memoria Interna: 256GB
            <br>
            - Acelerómetro
            <br>
            - Sensor de Proximidad
            <br>
            - Brújula (Campo magnético)
            <br>
            - Giroscopio
            <br>
            - Huella Dactilar
            <br>
            - Desbloqueo Facial
            <br>
            - Wi-Fi 802.11
            <br>
            - Bluetooth 5.3
            <br>
            - Conector USB C
            <br>
            - Version USB 2.0
            <br>
            - Capacidad de Batería (mAh) 4200
            <br>
        <p class="precio"><br>$399.999</p>
    </div>
</div>
<button class="button-container">Comprar</button>

<div class="product-image">
    <img src="/public/images/celulares/moto-e22.png" alt="Producto">
</div>
<div class="product-details">
    <h2 class="name"> Motorola Razr 40 Ultra </h2>
    <p> - Tecnología: pOLED
        <br>
        - Tamaño de Pantalla / Factor de forma: 6.9 (22:9)
        <br>
        - Resolución: 1080 x 2640, FHD+, 431, HiD, 144 Hz
        <br>
        - Sistema Operativo: Android
        <br>
        - Versión: 13
        <br>
        - Procesador: Octa core Qualcomm Snapdragon 7 Gen 1
        <br>
        - Velocidad de Procesador (GHz): 2.4
        <br>
        - Resolución de Cámara(s) traseras : 64MP
        <br>
        - Gran angular y macro 13MP
        <br>
        - Resolución de Cámara Frontal: 32MP
        <br>
        - Memoria RAM: 8GB
        <br>
        - Memoria Interna: 256GB
        <br>
        - Acelerómetro
        <br>
        - Sensor de Proximidad
        <br>
        - Brújula (Campo magnético)
        <br>
        - Giroscopio
        <br>
        - Huella Dactilar
        <br>
        - Desbloqueo Facial
        <br>
        - Wi-Fi 802.11
        <br>
        - Bluetooth 5.3
        <br>
        - Conector USB C
        <br>
        - Version USB 2.0
        <br>
        - Capacidad de Batería (mAh) 4200
        <br>
    <p class="precio"><br>$399.999</p>
</div>
</div>
<button class="button-container">Comprar</button>
                  
</body>
</html>