<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HorizonX</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" href="/images/celulares/2logo.png" />
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <main>
    <div class="main-welcome">
      <h1 class="">Bienvenido a HorizonX</h1>
    </div>
    <div class="main-log-conti">
      <p>Inicie sesion para continuar</p>
    </div>
    <div class="main-form">
      <form action="/" method="POST">
        <nav>
          <label class="main-em">E-mail:</label>
        </nav>
          <input class="main-em1" type="email" name="email" required>
        <nav>
          <label class="main-pass">Contraseña:</label>
        </nav>
          <input class="main-pass1" type="password" name="password" required>
        </nav>
        <p>
          <button class="main-bott-sub" type="submit">Iniciar Sesion</button>
        </p>
        </nav>
      </form>
      <form action="/register">
      </nav>
      <p>
        <button class="main-bott-sub2" type="submit">Registrarse</button>
      </p>
      </nav>
      </form>
    </div>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>