<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HorizonX</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" href="/images/celulares/2logo.png" />
</head>
<body>
  <header class="main-header">
      <div class="main-header-top-bar">
        <a href="/"><h1 class="main-header-logo">HorizonX</h1></a>
        <ul type="none" class="navbar-top">
          <li>
            <a href="#"><i class="fa-solid fa-user"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-bars"></i></a>
          </li>
        </ul>
      </div>
      <div class="input-search">
        <input type="text" placeholder="Buscar..." />
      </div>
  </header>
  <main>
    <div class="main-welcome">
      <h1 class="">Bienvenido a HorizonX</h1>
    </div>
    <div class="main-log-conti">
      <p>Inicie sesion para continuar</p>
    </div>
    <div class="main-form">
      <form action="" method="POST">
        <nav>
          <label class="main-em">E-mail:</label>
        </nav>
          <input class="main-em1" type="email" name="email" required>
        <nav>
          <label class="main-pass">Contraseña:</label>
        </nav>
          <input class="main-pass1" type="password" name="password" required>
        </nav>
        <p>
          <button class="main-bott-sub" type="submit">Iniciar Sesion</button>
        </p>
        </nav>
      </nav>
      <p>
        <button class="main-bott-sub2" type="submit">Registrarse</button>
      </p>
      </nav>
      </form>
    </div>
  </main>
  <footer>
    <section>
      <section class="footer-social">
        <small>Seguinos</small>
        <div class="footer-social-icons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""> <i class="fa-brands fa-twitter"></i></a>
        </div>
      </section>
      <small>Copyright&copy;2023 HorizonX. Todos los derechos reservados.</small>
    </section>
  </footer>
</body>
</html>