<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - HorizonX</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/login.css" />
    <link rel="icon" href="/public/images/celulares/2logo.png" />
</head>
<body>
  <header>
    <div>
      <img class="headerimg" src="/public/images/celulares/2logo.png" alt="Logo">
    </div>
    <div>
      <h2 class="nombrehorizon">HorizonX</h2>
    </div>
  </header>
  <main>
    <div class="main-welcome">
      <h1 class="">Bienvenido a HorizonX</h1>
    </div>
    <div class="main-log-conti">
      <p>Inicie sesion para continuar</p>
    </div>
    <div class="main-form">
      <form class="main-form1" action="" method="POST">
        <nav>
          <label class="main-em">E-mail:</label>
        </nav>
          <input class="main-em1" type="email" name="email" required>
        <nav>
          <label class="main-pass">Contraseña:</label>
        </nav>
          <input class="main-pass1" type="password" name="password" required>
        </nav>
        <p>
          <button class="main-bott-sub" type="submit">Iniciar Sesion</button>
        </p>
        </nav>
      </nav>
      <p>
        <button class="main-bott-sub2" type="submit">Registrarse</button>
      </p>
      </nav>
      </form>
    </div>
  </main>
  <footer>
    <section>
      <a class="foot-horiX" href="">www.HorizonX.com</a>
      <p class="foot-copyr">Copyright©2023 HorizonX. Todos los derechos reservados.</p>
    </section>
  </footer>
</body>
</html>