<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>HorizonX</title>
</head>
<body>
    <header class="product-detailsHeader">
        <div>
            <img class="headerimg" src="/public/images/celulares/2logo.png" alt="Logo">
            <p class="nombrehorizon">HorizonX</p>
            
        </div>

        <nav class="liproduct">
      
            <a href="tienda">Tienda</a>
            <a href="servicios">Servicios</a>
            <a href="acceso">Acceso</a>
        </nav>
    </header>

    <div class="ulproductdetail">
        <div class="product-image">
            <img src="/public/images/celulares/moto-razr-40ultra.png" alt="Producto">
        </div>
        <div class="product-details">
            <h2>Nombre del Producto</h2>
            <p>Lorem ipsum dols, illum. Velit dolorem inventore aspernatur fugit sit magni..</p>
            <p>Precio: $99.99</p>
        </div>
    </div>
    <button class="button-container">Comprar</button>
                  
</body>
</html>