<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Registrate</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
          <a href="/"
            ><img class="main-header-logo" src="/images/2logo.png" alt="Logo"
          /></a>
          <input class="input-search" type="text" placeholder="Buscar..." />
          <ul class="navbar-top">
            <li><a href="#">Smartphones</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Servicio Técnico</a></li>
            <li><a href="/login"><i class="fa-solid fa-user"></i> Cuenta</a></li>
            <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
          </ul>
          <ul class="navbar-bottom">
            <li>
              <a href="/login"><i class="fa-solid fa-user"></i></a>
            </li>
            <li>
              <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-bars"></i></a>
            </li>
          </ul>
        </div>
      </header>
    <main class="main-reg">
        <div class="form-div">
            <h3>Registrate</h3>
            <h4>Información personal</h4>
            <form action="" method="post">
                <input type="text" name="nombre" placeholder="Nombre" class="txt-inp">
                <input type="text" name="apellido" placeholder="Apellido" class="txt-inp">
                <input type="email" name="mail" placeholder="Tu email" class="txt-inp">
                <input type="password" name="pass" placeholder="Contraseña" class="txt-inp">
                <input type="password" name="repass" placeholder="Repite la contraseña" class="txt-inp">
                <div class="check-div"><input type="checkbox" name="check" id=""><label for="check">Acepto <u>términos y
                            condiciones</u></label></div>
                <button type="submit" id="reg-pr-btn">REGISTRARSE</button>
                <button type="submit" id="goog-btn">Registrarme con Google</button>
                <button type="submit" id="face-btn">Registrarme con Facebook</button>
            </form>
        </div>
    </main>

    <footer>
        <section class="footer-social">
          <small>Seguinos</small>
          <div class="footer-social-icons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""> <i class="fa-brands fa-twitter"></i></a>
          </div>
        </section>
        <small>Copyright&copy;2023 HorizonX. Todos los derechos reservados.</small>
      </footer>
</body>

</html>