:root {
  --color1: #27374d;
  --color2: #526d82;
  --color3: #9db2bf;
  --color4: #dde6ed;
}

.container_cart {
  width: 100%;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
}

.conteiner_all_cart {
  border: solid 3px var(--color1);
  width: 80%;
  margin: 10px 10%;
}

/* CARRO 1 */

.form_up_cart {
  width: 100%;
  height: 20%;
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_cart {
  width: 100%;
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
}

.product_img_detalle {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.logo_cart {
  width: 45px;
}

.ventana_cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boton_secciones_cart,
.boton_secciones_cart_2 {
  width: 10px;
  height: 6px;
  background-color: var(--color2);
  color: white;
  padding: 0.75em 1.5em;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid black;
}

.boton_secciones_cart_2 {
  background-color: var(--color3);
}

.img_product {
  width: 70%;
}

.datos_adicionales {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name_product {
  font-size: 20px;
  font-weight: bold;
}

.precio_cantidad {
  font-size: 25px;
  font-weight: bold;
}

.detalle_compra {
  background-color: #f1eaff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  height: 90%;
  padding: 10px;
  border-radius: 5%;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form_buy {
  width: 100%;
}

.boton_detalles {
  background-color: var(--color3);
  color: white;
  height: 10px;
  padding: 0.75em 1.5em;
  margin: 10px;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid black;
}

.texto_detalle {
  font-weight: bold;
  margin: 10px;
}

.formulario_cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 15px;
  align-items: center;
}

.control {
  width: 50%;
}

.div_span {
  display: flex;
  justify-content: space-between;
}

.div_span_total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 10px;
}

.botones_finales {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.product-buy-btn {
  background-color: #27374d;
  width: 80%;
  height: 35px;
  color: white;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 3px;
}

/* CAMBIOS CARRO 2 */

.datos_demas_carros {
  width: 100%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.negrita {
  font-weight: bold;
}

.terminos_condiciones {
  font-size: 12px;
}

/* CAMBIOS CARRO 3 */

.datos_envio {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CAMBIOS CARRO 4 */

.boton_pagos {
  background-color: #27374d;
  height: 40px;
  color: white;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  border: 1px solid black;
  margin: 3px;
}

.detalles_carro_cuatro {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .form_cart {
    flex-direction: row;
  }
}
