.form-container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
} 

.primera-linea{
    display: flex;
    justify-content: space-between;
}

.primer-div{
    width: 48%;
    display: flex;
    flex-direction: column;
    
}

.imput-primer-div{
    width: 40%;

}

form {
    display: grid;
    grid-gap: 15px;
  
} 

label {
    font-size: 14px;
} 

.option-letra{
    font-size: 5px;
}

 .input-field {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}
 .insert-img{
    font-size: 14px;
 }

textarea {
    resize: vertical;
}

.button-ubicacion{
    display: flex;
    justify-content: center;
}

.button-volver{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

button {
    width: 95%;
    align-items: center;
    background-color: var(--color1);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 400;
    font-size: 16px;
}

button:hover {
    opacity: 0.9;
    font-weight: 600;
}
