header {
  background-color: #666; /* Fondo gris */
  color: rgb(39, 55, 77);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(221, 230, 237);
}

header img {
  max-width: 50px;
  height: auto;
  margin-left: 20px;
}

nav {
  margin-right: 20px;
}

nav a {
  color: rgb(39, 55, 77);
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #4CAF50;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(157, 178, 191);
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}

.product {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.product img {
  /*max-width: 100%;*/
  height: auto;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
}

.product-details {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h2, p {
  margin: 0;
}

h2 {
  color: #333;
}

p {
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-section {
  margin-bottom: 40px;
}
.buy-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(39, 55, 77);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 22px;
}

.price {
  font-weight:bold;
  font-size: 25px;
  color: #000;
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.price-pay{
  margin-bottom: 22px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #ebebeb;
  padding: 16px;
     
  .price-pay2{
    width: 60%;
    }

  .form-pay{
    font-size: 1rem;
    margin: 0 0 0.55rem;
    }
}


.product-cart{
  position: relative;
  scroll-snap-align: center;
  padding: 0 15px;
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;

}
/*
.productscart{
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}*/

h3{
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.option{
  display:flex;
  margin-top: 8px;
  justify-content: center;
  display: inline-flex;
}

.options1{
  font-weight: 700;
  border: solid 1.5px #000;

}

.gb-cap{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 5px;
  height: 24px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 32px;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}

.selection{
  display: flex;
  margin-top: 8px;
}

.selection1{display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: blue;
  cursor: pointer;
}


@media (min-width: 480px) {
  .product-details{
    flex-direction: row;
  }
}