@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #DDE6ED;
}

.main-header{
  width: 100%;
}

.navbar-top{
  display: none;
}

.navbar-bottom{
  display: flex;
}

.main-header-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.main-header-logo{
  width: 65px;
}

.navbar-top, .navbar-bottom {
  list-style-type: none;
}

.main-header li {
  padding: 5px;
}

.main-header a {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.input-search{
  width: 40%;
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-search:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(39, 55, 77, 0.5);
}

.main-header-banner{
  position: relative;
  background-color: #DDE6ED;
}

.main-header-banner-video-mobile{
  width: 100%;
  height: 100%;
}

.main-header-banner-video-tablet-pc{
  display: none;
  width: 100%;
  height: 100%;
}

.main-header-banner-title{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  transition: all;
  transition-duration: 300ms;
}

.main-header-banner-btn{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 0.75em 1.5em;
  border-radius: 20px;
  border: 1px solid black;
  transition: all;
  transition-duration: 300ms;
  z-index: 1;
}

.main-header-banner-btn:hover{
  cursor: pointer;
  background-color: #DDE6ED;
  color: black;
  border: 1px solid black;
  scale: 1.025;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  margin: auto;
  text-align: center;
  width: 100%;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}


.footer-social{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.footer-social-icons i{
  font-size: 30px;
  padding: 20px;
  color: black;
}

.footer-social-icons{
  transition: transform 300ms ease-in-out;
  
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover {
  transform: scale(1.2);
  color: #27374d;
}

@media(min-width: 768px){

  .main-header-banner-video-mobile{
    display: none;
  }
  .main-header-banner-video-tablet-pc{
    display: block;
  }

  .navbar-top{
    display: flex;
    font-size: 14px;
  }

  .navbar-bottom{
    display: none;
  }

  .main-header-banner-title{
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-weight: 800;
  }
  
  .main-header-banner-btn{
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  
  footer{
    flex-direction: row-reverse;
  }


}

@media(min-width: 1024px){
    .main-header {
        max-width: 1440px;
        margin: auto;
      }  
}

/* Estilos login */

/* Estilos productCart */

/* Estilos productDetail */
.product-detailsHeader{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #6e6e6e;
color: #fff;
padding: 10px;
}
.headerimg {
  max-width: 50px;
  height: auto;
  justify-content: baseline;
  margin-left: 10px;
}
.ulproductdetail {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.liproduct{
  margin-left: 20px;
}
  .button-container {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.product-section {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px;
}

.product-image {
  display: flex;
}

.product-details {
  max-width: 50%;
}
/* Estilos register */