<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Registrate', styles: '/css/register.css'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-reg">
        <div class="form-div">
            <h3>Registrate</h3>
            <h4>Información personal</h4>
            <form action="/users/register" method="post" enctype="multipart/form-data">
                <input type="text" name="nombre" placeholder="Nombre" class="txt-inp" required>
                <input type="text" name="apellido" placeholder="Apellido" class="txt-inp" required>
                <input type="email" name="mail" placeholder="Tu email" class="txt-inp" required>
                <input type="password" name="pass" placeholder="Contraseña" class="txt-inp" required>
                <input type="password" name="repass" placeholder="Repite la contraseña" class="txt-inp" required>
                <input type="file" name="pfpimg" accept="image/png, image/jpeg">
                <div class="check-div"><input type="checkbox" name="check" id=""><label for="check">Acepto <u>términos y
                            condiciones</u></label></div>
                <button type="submit" id="reg-pr-btn">REGISTRARSE</button>
                <!-- <button type="submit" id="goog-btn">Registrarme con Google</button> 
                <button type="submit" id="face-btn">Registrarme con Facebook</button> -->
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    
</body>

</html>