<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create</title>
  <link rel="stylesheet" href="/css/create.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <%- include('../partials/header.ejs') %>
    <div class="form-container">
      <form action="/products/create" method="POST" enctype="multipart/form-data">
        <h3>Crear Producto</h3>
        <hr>
        <div class="primera-linea">
          <div class="primer-div">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" class="input-field " required />
          </div>
          <div class="primer-div">
            <label for="brand">Marca:</label>
            <input type="text" id="brand" name="brand" class="input-field " required />
          </div>
        </div>

        <div class="primera-linea">
          <div class="primer-div">
            <label for="color">Color:</label>
            <input type="text" id="color" name="color" class="input-field" required />
          </div>

          <div class="primer-div">
            <label for="price">Precio:</label>
            <input type="text" id="price" name="price" class="input-field" required />
          </div>
        </div>

        <label for="category">Caregoría:</label>
        <select name="category" id="category" class="input-field">
            <option value="celular">Celular</option>
            <option value="accesorio">Accesorio</option>         
        </select>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" class="input-field" rows="4" required></textarea>

        <label for="image">Imagen:</label>
        <input class="insert-img" type="file" id="image" name="image" alt="Imagen del producto" />
        <div class="button-ubicacion">
          <button type="submit">Crear</button>
        </div>
      </form>
            
        <a href="/products" class="button-ubicacion">
          <button type="submit">Volver</button>
        </a>
        
    </div>
      
    <%- include('../partials/footer.ejs') %>
</body>

</html>